<!DOCTYPE html>
<html lang="zh">
<head>
	<title>彩柚 | {{article.title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="description" content="一个关于画画的网站" />
    <meta name="keywords" content="绘画,彩铅,油画,水粉" />
    <link rel="shortcut icon" href="/common_static/images/favicon.ico" />
    <link rel='stylesheet' id='sytle-css'  href='/common_static/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='home-css'  href='/common_static/css/home.css' type='text/css' media='all' />
    <link rel='stylesheet' id='yzipi-pc-css'  href='/common_static/css/yzipi-pc.css' type='text/css' media='all' />
    <link rel='stylesheet' id='yzipi-ipad-css'  href='/common_static/css/yzipi-ipad.css' type='text/css' media='all' />
    <link rel='stylesheet' id='yzipi-phone2-css'  href='/common_static/css/yzipi-phone2.css' type='text/css' media='all' />
    <link rel='stylesheet' id='yzipi-phone-css'  href='/common_static/css/yzipi-phone.css' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-syntax-css-css'  href='/common_static/css/wp-syntax.css' type='text/css' media='all' />
    <script type='text/javascript' src='/common_static/js/html5shiv.js'></script>
    <script type='text/javascript' src='/common_static/js/css3-mediaqueries.js'></script>
    <script type='text/javascript' src='/common_static/js/selectivizr-min.js'></script>
    <script type='text/javascript' src='/common_static/js/jquery.1.11.1.js'></script>
    <script type='text/javascript' src='/common_static/js/zan.js'></script>
</head>

<body>

<header id="header-web">
    <div class="header-main">

        <hgroup class="logo">
            <h1><a href="http://www.91painting.com/" title="彩柚" rel="home">
                <img src="/common_static/images/logo.png" alt="彩柚"></a></h1>
        </hgroup> <!--logo-->

        <!--menu-->
        <nav class="header-nav">
            <ul id="menu-nav" class="menu">
                <li id="menu-item-4" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4">
                    <a href="http://www.91painting.com/">首页</a>
                </li>
            </ul>
        </nav> <!--header-nav-->

        <!--header-main-->
    </div>
</header>
<!--header-web-->

<div id="main">
    <div id="container">
        <article class="content">
            <header class="contenttitle">
                <h1 class="mscctitle"> <a href="#"> {{article.title}}</a> </h1>
                <address class="msccaddress ">
                    <time>{{article.pubtime}}</time>
                    - {{article.author}} - 阅 {{article.readnum}}
                </address>
            </header>

            <div class="content-text" data-note-content="">
                <div class="image-package">
                    <img src="/common_static/images/jianshu/20171024/20171024202951406.png" class=""/><br/>
                    <div class="image-caption">图片发自简书App</div>
                </div>
                <p><br/></p>
                <div class="image-package">
                    <img src="/common_static/images/jianshu/20171024/20171024202951876.png" class="alignnone size-full wp-image-36"/><br/>
                    <div class="image-caption">图片发自简书App</div>
                </div>
                <p><br/></p>
                <div class="image-package">
                    <img src="/common_static/images/jianshu/20171024/20171024202951222.png" class="alignnone size-full wp-image-36"/><br/>
                    <div class="image-caption">图片发自简书App</div>
                </div>
            </div>

            {{article.content|safe}}

            <div class="post-like">
                <a href="javascript:;" data-action="ding" data-id="{{article.id}}" class="favorite">
                    <span class="count">{{article.upnum}}</span>
                </a>
            </div>

        </article><!-- content end-->

    </div><!-- container end-->

    {# 左侧标签 #}
    <aside id="sitebar">
        {# 热门标签 #}
        <div class="sitebar_list">
            <div class="wptag">
                <span class="tagtitle">热门标签 ...</span>
                <div class="tagg">
                    {% if tag_list %}
                        <ul id="menu-tag" class="menu">
                            {% for tag in tag_list %}
                                <li id="menu-item-2882" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2882">
                                    <a href="#">{{ tag.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div> <!-- sitebar_list end-->

        {# 热门文章 #}
        <div class="sitebar_list">
            <h4 class="sitebar_title">热评文章</h4>
            {% if latest_blog_list %}
                <ul class="sitebar_list_ul">
                    {% for article in latest_blog_list %}
                        <li><a href="/blog/{{article.id}}" title="{{article.title}}" target="_blank">
                            {{article.title}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <a href="#" class="yund" target="_blank">
            <img src="/images/yund.png" >
        </a>
    </aside>
    <div class="clear"></div>

</div><!-- main end-->

</body>
</html>